:root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    background: #282828;
    color: #ebdbb2;
    font-family: "JetBrains Mono", monospace;
    height: 100vh;
    overflow: hidden;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
}

#app {
    width: 100%;
    min-height: 100vh;
}
